.app-list {
    margin-top: 50px;
}

.app-list .list-group-item {
    padding: 20px 35px 10px 35px;
    margin-top: 10px;
}

.list{
    padding: 0.75rem;
}

@media screen and (max-width: 850px) {
    .app-list {
        margin-top: 25px;
    }
}